.topDev{
    display: flex;flex-direction: row;
    padding-top: 30px;
    background-color: #626262;
    padding-bottom: 10px;
}

.demoDiv
{
    padding-top: 50px;
    color:white;
}

.grayBackground{
  background-color:   #F5F5F5;
}
