<div class="col-12" style="padding-top:30px;padding-bottom:30px ;
 background-color:black;color: white;">

<div class="row">

    <div class="col">
        <span style="font-size: 1.6vw"> Made By : Eng Ali Gamal El 30mda </span>
    </div>

    <div class="col">

        </div>

    <div class="col">
            <span style="font-size: 1.6vw"> Follow Me : &nbsp;
                   <a target="_blank" href="https://github.com/Gemy95"> <i class="fab fa-github"></i> </a>
                   &nbsp;
                   <a target="_blank" href="https://www.linkedin.com/in/ali-gamal-990572151/"> <i class="fab fa-linkedin-in"></i> </a>
                   &nbsp;
                   <a target="_blank" href="https://www.facebook.com/Eng.3li.g2m2l.el.3omda"><i class="fab fa-facebook"></i></a>
                   &nbsp;
                   <a target="_blank" href="https://www.instagram.com/3li_el_omda"><i class="fab fa-instagram"></i></a>
                   &nbsp;
                   <a target="_blank" href="https://twitter.com/AliOmda880"><i class="fab fa-twitter-square"></i></a>
             </span>
    </div>

</div>


</div>